@{
    ViewBag.Title = "最新消息";
    ViewBag.BodyClass = "News";
    ViewBag.list = "News";
    Layout = "~/Views/Shared/Layout.cshtml";
}


<div id="PageContent"></div>

@section Scripts {
    <script src="~/Scripts/build/commincW.js"></script>
    <script src="~/Scripts/vendor/jquery.lazyloadxt.min.js"></script>
    <script src="~/Scripts/build/func/w-cn-News_list.js"></script>
}