$icomoon-font-path: "../../fonts/icomoon" !default;

$icon-line: "\e900";
$icon-angle-down: "\e90b";
$icon-angle-right: "\e90c";
$icon-map: "\e90a";
$icon-phone: "\e901";
$icon-mail: "\e902";
$icon-fax: "\e903";
$icon-facebook: "\e904";
$icon-clock: "\e905";
$icon-arrow-o-right: "\e906";
$icon-arrow-right: "\e907";
$icon-arrow-left: "\e908";
$icon-bars: "\e909";

