@{
    ViewBag.Title = "联络我们";
    ViewBag.BodyClass = "ContactUs";
    Layout = "~/Views/Shared/Layout.cshtml";
}

@section Banner {
    <div class="flexslider" id="banner">
        <ul class="slides">
            <li>
            	<a href="http://j.map.baidu.com/C1jWD" target="new">朝扬海外游留学有限公司 地图</a>
            </li>
        </ul>
    </div>
}

<ul class="breadcrumb">
	<li><a href="~/Index">首页</a></li>
	<li>@ViewBag.Title</li>
</ul>

<div id="content">
	
	<section class="wrap editor">

        <header class="title">
            <h2>@ViewBag.Title</h2>
        </header>

        <article class="editor">
        	<p class="float-l">
        		<img data-src="@Url.Content("~/Content/images/ContactUs/pic2-1.jpg")" alt="" class="thumb">
        	</p>
        	<p class="leading"><strong class="strong2">朝扬海外游留学有限公司</strong>顾问团队经验丰富，提供最优质且可信赖的游学服务。</p>
        	<ul class="list-no-icon list-underline">
        		<li><strong class="strong3 arrow-right">地址</strong>上海市长宁区长宁路1027号兆丰广场2806室 (<a href="http://j.map.baidu.com/C1jWD" target="new">MAP</a>)</li>
        		<li><strong class="strong3 arrow-right">电话</strong>021-52300010</li>
        		<li><strong class="strong3 arrow-right">E-mail</strong><a href="mailto:Jerryzh@shzylx.com">Jerryzh@shzylx.com</a></li>
        	</ul>
        </article>

    </section>

</div>