@{
    ViewBag.Title = "关于朝扬";
    ViewBag.BodyClass = "ContactUs";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<ul class="breadcrumb">
	<li><a href="~/Index">首页</a></li>
	<li>@ViewBag.Title</li>
</ul>

<div id="content">
	
	<section class="wrap editor">

        <header class="title">
            <h2>@ViewBag.Title</h2>
        </header>

        <article class="editor">
        	<p class="float-r">
        		<img data-src="@Url.Content("~/Content/images/ContactUs/pic1-1.jpg")" alt="" class="thumb">
        	</p>
        	<header>
        		<h3>富饶多元化学程 建构国际世界观</h3>
        	</header>
	        <p><strong class="strong2 underline">上海朝扬出国留学服务有限公司 (Zhao Yang Overseas Study Center) </strong>，由台湾朝扬文教集团出资设立，力争于做到国内首屈一指的留学、游留学公司。公司聘有多位<strong>资深顾问群</strong>及<strong>专业中英文领队</strong>，多次带领各年龄层学员远赴世界各地进行游学参访，<strong class="strong3">深获出团学员及家长的肯定及信任</strong>。并于2015年9月在台设立<strong class="strong2">“桃园市朝扬两岸文化教育交流协进会”</strong>。</p>
        </article>

    </section>

</div>