@{
    ViewBag.Title = "關於富學";
    ViewBag.BodyClass = "ContactUs";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<ul class="breadcrumb">
	<li><a href="~/Index">首頁</a></li>
	<li>@ViewBag.Title</li>
</ul>

<div id="content">
	
	<section class="wrap editor">

        <header class="title">
            <h2>@ViewBag.Title</h2>
        </header>

        <article class="editor">
        	<p class="float-r">
        		<img data-src="@Url.Content("~/Content/images/ContactUs/pic1-1.jpg")" alt="" class="thumb">
        	</p>
        	<header>
        		<h3>富饒多元化學程 建構國際世界觀</h3>
        	</header>
        	<p>近年來，資訊科技的發展促進了天涯若比鄰的依存關係，跨國企業快速成長，知識、資訊、技術及創新等能力成為國際經濟的新基礎資源。<strong class="strong2">面對自身與不同國家的文化傳統</strong>，國人需要培養理解、尊重及欣賞的胸懷與態度。教育需要調整人才培育的目標，跳脫傳統的框架，<strong class="strong2">添加國際化的學習元素</strong>，以因應社會、經濟與科技的快速變遷與競合需求。中小學教育在國際化人才的培育過程中，扮演關鍵性的角色，<strong class="strong3">由教育深耕學子的國際觀</strong>，為我國創造競爭優勢的藍海策略。</p>
	        <p><strong class="strong2 underline">富學海外遊留學有限公司 (Fruitful Learning Overseas Study Center) </strong>成立於2013年5月，為台灣首屈一指的遊留學公司，聘有<strong>資深顧問群</strong>及<strong>專業中英文領隊</strong>，多次帶領各年齡層學員遠赴世界各地進行遊學參訪，<strong class="strong3">深獲出團學員及家長的肯定及信任。</strong></p>
	        <p>基於全球化時代的快速來臨，台灣國際人才的養成有其迫切性，<strong class="underline">富學海外遊留學有限公司</strong>於推動國際教育方面不遺餘力，除推廣優質英語教育課程外，也持續與國際優質大學、高中及語言學校簽屬合作，並著手籌畫分齡分層的台灣島內與海外的英語遊學課程，提供桃園學子更多元的海內外學習管道，培育具<strong class="strong2">國際化</strong>、<strong class="strong2">人文素養</strong>、<strong class="strong2">社會關懷</strong>的優秀人才。</p>
        </article>

    </section>

</div>