@{
    ViewBag.Title = "关于富学";
    ViewBag.BodyClass = "ContactUs";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<ul class="breadcrumb">
	<li><a href="~/Index">首页</a></li>
	<li>@ViewBag.Title</li>
</ul>

<div id="content">
	
	<section class="wrap editor">

        <header class="title">
            <h2>@ViewBag.Title</h2>
        </header>

        <article class="editor">
        	<p class="float-r">
        		<img data-src="@Url.Content("~/Content/images/ContactUs/pic1-1.jpg")" alt="" class="thumb">
        	</p>
        	<header>
        		<h3>富饶多元化学程 建构国际世界观</h3>
        	</header>
        	<p>近年来，资讯科技的发展促进了天涯若比邻的依存关系，跨国企业快速成长，知识、资讯、技术及创新等能力成为国际经济的新基础资源。<strong class="strong2">面对自身与不同国家​​的文化传统</strong>，国人需要培养理解、尊重及欣赏的胸怀与态度。教育需要调整人才培育的目标，跳脱传统的框架，<strong class="strong2">添加国际化的学习元素</strong>，以因应社会、经济与科技的快速变迁与竞合需求。中小学教育在国际化人才的培育过程中，扮演关键性的角色，<strong class="strong3">由教育深耕学子的国际观</strong>，为我国创造竞争优势的蓝海策略。</p>
	        <p><strong class="strong2 underline">富学海外游留学有限公司 (Fruitful Learning Overseas Study Center) </strong>成立于2013年5月，为台湾首屈一指的游留学公司，聘有<strong>资深顾问群</strong>及<strong>专业中英文领队</strong>，多次带领各年龄层学员远赴世界各地进行游学参访，<strong class="strong3">深获出团学员及家长的肯定及信任。</strong></p>
	        <p>基于全球化时代的快速来临，台湾国际人才的养成有其迫切性，<strong class="underline">富学海外游留学有限公司</strong>于推动国际教育方面不遗余力，除推广优质英语教育课程外，也持续与国际优质大学、高中及语言学校签属合作，并着手筹画分龄分层的台湾岛内与海外的英语游学课程，提供桃园学子更多元的海内外学习管道，培育具<strong class="strong2">国际化</strong>、<strong class="strong2">人文素养</strong>、<strong class="strong2">社会关怀</strong>的优秀人才。</p>
        </article>

    </section>

</div>