@charset "utf-8";

/* Table of contents
==================================================
- Sortable
- Typeahead
*/


/* # Lazyload XT
-------------------------------------------------- */
.lazy-hidden {
    opacity: 0;
}
.lazy-loaded {
    -webkit-transition: opacity 0.3s;
    -moz-transition: opacity 0.3s;
    -ms-transition: opacity 0.3s;
    -o-transition: opacity 0.3s;
    transition: opacity 0.3s;
    opacity: 1;
}


/* # Sortable (drag n drop)
-------------------------------------------------- */



/* # Typeahead
-------------------------------------------------- */
