@{
    ViewBag.Title = "各国游学行程:Hot行程";
    ViewBag.BodyClass = "StudyTravel p1";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<div id="PageContent"></div>

@section Scripts {
    <script>
        var gb_category = '@Request.QueryString["category"]' == "" ? 0 : '@Request.QueryString["category"]';
    </script>
    <script src="~/Scripts/build/commincW.js"></script>
    <script src="~/Scripts/build/func/w-cn-StudyAbroadA_list.js"></script>
}