@{
    ViewBag.Title = "行前准备";
    ViewBag.BodyClass = "Info p3";
    Layout = "~/Views/Shared/Layout.cshtml";
}
<ul class="breadcrumb">
    <li><a href="~/Index">首页</a></li>
    <li><a href="~/Info/p3">游学/留学小帮手</a></li>
    <li>行前准备</li>
</ul>
<div id="PageContent"></div>

@section Scripts {
    <script src="~/Scripts/build/commincW.js"></script>
    <script src="~/Scripts/vendor/jquery.lazyloadxt.min.js"></script>
    <script src="~/Scripts/build/func/w-cn-InfoP3_list.js"></script>
}

@* 同 Info.cshtml *@