@{
    ViewBag.Title = "游留学新知";
    ViewBag.BodyClass = "Info p2";
    Layout = "~/Views/Shared/Layout.cshtml";
}
<ul class="breadcrumb">
    <li><a href="~/Index">首页</a></li>
    <li><a href="~/Info/p2">游学/留学小帮手</a></li>
    <li>游留学新知</li>
</ul>
<div id="PageContent"></div>

@section Scripts {
    <script src="~/Scripts/build/commincW.js"></script>
    <script src="~/Scripts/vendor/jquery.lazyloadxt.min.js"></script>
    <script src="~/Scripts/build/func/w-cn-InfoP2_list.js"></script>
}

@* 同 Info.cshtml *@