@{
    ViewBag.Title = "游留学百科";
    ViewBag.BodyClass = "Info p1";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<ul class="breadcrumb">
    <li><a href="~/Index">首页</a></li>
    <li><a href="~/Info">游学/留学小帮手</a></li>
    <li>游留学百科</li>
</ul>

<div id="PageContent"></div>

@section Scripts {
    <script src="~/Scripts/build/commincW.js"></script>
    <script src="~/Scripts/vendor/jquery.lazyloadxt.min.js"></script>
    <script src="~/Scripts/build/func/w-cn-InfoP1_list.js"></script>
}